/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  color: #2c3e50;
}
/* typo */
h1{
  font-size: 60px;
}
h2{
  font-size: 30px;
  margin-bottom: 20px;
}
h4{
  font-size: 25px;
  margin-top: 25px;
}
.difficult label{
  font-size: 18px;
  font-weight: 500;
}
.box_numero span,
.statopartita{
  font-size: 20px;
  font-weight: 500;
}
/* typo */
/* mix */
.btn{
  /* border-radius: 5px;
  border: 1px solid grey;
  padding: 10px;
  background-color: transparent;
  color: grey;
  cursor: pointer; */
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
  outline: none;
  border: none;
  border-radius: 100px;
  background: rgb(28,107,114) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
  box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
  color: rgb(0,79,86);
  user-select: none;
  cursor: pointer;
}
.btn_no-drop{
  cursor: no-drop;
}
.container{
  padding: 30px 20px;
  background: #fcfff4;
  background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
  background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  text-align: center;
  position: relative;
  height: 100vh;
}
header{
  display: flex;
  justify-content: center;
}
header i {
  font-size: 80px;
  color: red;
  margin: 0 20px;
}
/* difficult */
.difficult{
  width: 70%;
  border: 5px solid #2c3e50;
  border-radius: 5px;
  margin: 30px auto;
  padding: 15px;
}
input[type="radio"]{
  margin-right: 25px;
}
#impostadifficolta{
  margin-left: 30px;
}
/* difficult */
/* box_numero */
.box_numero{
  margin-top: 30px;
}
.box_numero label{
  display: block;
  font-size: 20px;
  margin: 35px 0 20px;
}
#numeroutente{
  background-color: transparent;
  border-radius: 5px;
  border: 5px solid #2c3e50;
  outline: none;
  box-shadow: none;
  display: inline-block;
  width: 30%;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  margin: 10px auto;
}
#verificanumero{
  display: block;
  margin: 15px auto;
}
#numeriinseriti li{
  display: inline-block;
  margin: 5px;
  font-size: 20px;
  font-weight: 500;
}
.visible {
  display: inline-block;
  font-size: 80px;
  animation-name: molla;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes molla {
      0%   {transform: scale(1.0);}
      50%  {transform: scale(2);}
      100% {transform: scale(1.0);}
}
.red{
  color: red;

}
.green{
  color: green;
}
